<!doctype html>
<html xmlns:th="http://www.thymleaf.org">

<head th:replace="fragments/common :: head('Board')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="board.css" th:href="@{/board.css}" rel="stylesheet">
</head>

<body>

    <main>
        <div class="container" th:replace="fragments/common :: menu('board')"></div>
    </main>

    <!-- <div class="home">
    </div> -->
    
    <div class="container">
        <h1>Board</h1>
        <div>총 건수 : <span th:text="${#lists.size(boards)}"></span></div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="board : ${boards}">
                <td th:text="${board.id}">Mark</td>
                <td th:text="${board.title}">Otto</td>
                <td>철</td>
              </tr>
            </tbody>
          </table>
          <div class="text-end">
              <input class="btn btn-primary" type="button" value="쓰기">
          </div>
    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>